<div id="container">
	<h1>Rock, Paper, Scissors</h1>
	<h2><%= @result %></h2>
	<a href="/rps"><p>Play Again</p></a>
	<!-- player's move -->
	<img alt=<%= '"'.html_safe+"#{@move.item}"+'"'.html_safe%> src=<%='"'.html_safe+"#{@move.imageUrl}"+'"'.html_safe%>/>

	<!-- opponent's move -->
	<img alt=<%= '"'.html_safe+"#{@opponent.item}"+'"'.html_safe%> src=<%='"'.html_safe+"#{@opponent.imageUrl}"+'"'.html_safe%>/>

</div>